extends lomakekala_base.jade
block content
  h2 Julkiset lomakkeet

  if public_forms.exists
    .list-group
      for form in public_forms
        a.list-group-item(href='{% url "lomakekala_form_view" form.slug %}')
          h4.list-group-item-heading {{ form.name }}
          p.list-group-item-text {{ form.description }}
  else
    p.text-muted Ei julkisia lomakkeita.

  if request.user.is_authenticated
    h2 Yksityiset lomakkeet

    if private_forms.exists
      .list-group
        for form in private_forms
          a.list-group-item(href='{% url "lomakekala_form_view" form.slug %}')
            h4.list-group-item-heading {{ form.name }}
            p.list-group-item-text {{ form.description }}   
    else
      p.text-muted Ei yksityisiä lomakkeita.
